html {
  font-size: 29px;
}

body {
  padding: 49px;
  margin: 0 auto;
  line-height: 150%;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

h1 {
  align-items: center;
  display: flex;
}

h1 > span {
  margin-top: 3px;
  margin-left: .2em;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

#rule {
  font-family: monospace;
  opacity: .31;
}
